/* CSS Goes Here */

body {
    font-family: sans-serif;
    margin: 0;
}

.hero {
    background-image: url('/assets/Background-Image.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 700px;
    display:flex;
    justify-content: center;
    align-items:center;
}

.hero__text {
    position:absolute;
    color:white;
    text-align: center;
}

.hero__subtitle{
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 10px;
}

.hero__title{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero__body{
    margin-bottom: 10px;
    width:70%;
    padding-left: 15%;
}

.button{
    text-transform: uppercase;
    background-color: transparent;
    padding: 14px 28px;
    font-weight: bold;
    border: none;
}

.button--primary{
    border: 1px solid #FF9A62;
    background-color: Transparent;
    padding: 14px 28px;
    font-weight: bold;
    margin-top: 20px;
    color: white;

}

.button--secondary{
    border-bottom: 1px solid #FF9A62;
    padding-left: 0px;
}

.promo{
   padding:20px;
}

.promos{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 0fr));;
    justify-content: center;
    padding:20px;
    grid-gap: 50px;
}

.promo__content{
    justify-content: left;
    width: 60%;
    margin-bottom: 0px;
    margin-top: 0px;
}

.promo__title{
    font-size: 24px;
}




